* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

header {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header .connections {
  position: absolute;
  top: 10px;
  left: 10px;
}

header .status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: transparent;
  background: #f00;
}

header .status.connected {
  background: #0f0;
}

.chat header {
  height: 25vh;
}

main {
  text-align: left;
  height: 75vh;
}

.App-link {
  color: #61dafb;
}
